version: '{build}'  
pull_requests:  
  do_not_increment_build_number: true
image: Visual Studio 2017
nuget:  
  disable_publish_on_pr: true
#init:
#- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
build_script:  
- ps: .\Build.ps1
test: off  
artifacts:  
- path: .\src\Serilog.Sinks.NUnit\artifacts\**\*.nupkg
  name: NuGet
deploy:  
- provider: NuGet
  server: https://www.myget.org/F/luk355-ci/api/v2/package
  api_key:
    secure: 2s1Eodgv5ujtlKkPrFPwGQOOg3zbEepMS1QPQVLG9BeR+ZtK+WUI1W1mtgW7ZXiG
  skip_symbols: true
  on:
    branch: master
- provider: NuGet
  name: production
  api_key:
    secure: 2mChWdaPJUedCHnkLnKdr4b3fH9zzQrD7HhIahz9HWcPZUjJquNXPJOxNURPtaDY
  on:
    branch: master